# MongoDB connection string (include database name before ?):
# mongodb+srv://USER:PASSWORD@cluster.example.net/YOUR_DB_NAME?retryWrites=true&w=majority
DATABASE_URL=""

# Base URL of the application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
